h1 {
  font-family: "Andada Pro", serif;
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
}

h2 {
  font-family: "Baloo 2", cursive;
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
}

p {
  font-family: "Andada Pro", serif;
  font-weight: 600;
  font-size: 36px;
  font-style: normal;
}

.heading-bg {
  background-color: #e1eeff;
  text-align: center;
}
