.root {
  --heading-font-family: "Baloo 2", cursive;
  --default-font-family: "Andad Pro", serif;
}

h2 p {
  font-family: var(--heading-font-family);
}

h1 {
  font-family: var(--default-font-family);
}

.heading-border {
  border-top: 1px solid #543a3a;
  width: 1550px;
}

.project-title {
  background-color: #e1eeff;
  height: 155px;
}

.contact-head h1 {
  color: #543a3a;
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}

.project-title h1 {
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #543a3a;
  width: 716px;
  padding: 20px;
  padding-left: 70px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.heading-bg {
  background-color: #e1eeff;
  text-align: center;
  position: absolute;
  width: 1550px;
  height: 341px;
  top: 75px;
  left: 0px;
  border-top: 1px solid #543a3a;
}

.heading-bg p {
  color: #543a3a;
  font-weight: 600;
  font-size: 36px;
  font-style: normal;
  line-height: 57px;
  height: 132px;
  margin-top: 61px;
}

.heading-bg h1 {
  color: #543a3a;
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
  line-height: 56px;
  margin-top: -75px;
}

.heading-bg h2 {
  color: #543a3a;
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  line-height: 57px;
}

.container-pro h3 {
  color: #543a3a;
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.container-pro p {
  color: #543a3a;
  font-family: var(--heading-font-family);
  font-size: 18px;
}

.container-project {
  padding-bottom: 0px;
  margin-top: 475px;
  max-width: 1000px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-bottom: 50px;
}

.row-pro {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 395px;
}

.Pro-D {
  background: #e1eeff;
  padding-top: 12px;
  padding-bottom: 12px;
}

.Pro-D-W {
  background: #e1eeff;
  margin-top: 12px;
  height: 270px;
  margin-top: 35px;
}

.mb-3 {
  text-align: center;
  color: #543a3a;
  font-family: var(--default-font-family);
  font-weight: 700px;
  font-style: normal;
  size: 24px;
}

.col-md-6 p {
  text-align: center;
  color: #543a3a;
  font-family: var(--heading-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.mt-5 {
  margin-top: 3rem !important;
  text-align: center;
  color: #543a3a;
}

.col-6 {
  width: 700px;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}

.pro-WA {
  max-width: auto;
}

.WA {
  margin-top: 12px;
}

.pro-MP {
  padding-top: 30px;
}

.MP {
  margin-top: 25px;
}

.img-fluid {
  max-width: auto;
  height: auto;
  margin-top: 0px;
}

.img {
  vertical-align: middle;
}

.d-none {
  display: none;
}

.container-end {
  padding-top: 0px;
  background-color: #e1eeff;
}

.Inquire-Footer {
  padding-left: 250px;
  color: #543a3a;
}

.WI p {
  padding-left: 320px;
  color: #543a3a;
}

.WI {
  padding-left: 100px;
}

.Pro {
  max-width: 375px;
  margin-top: 40px;
}

.col-md-auto {
  color: #543a3a;
  margin: auto;
  padding-right: 500px;
}

@media (max-width: 576px) {
  .col-md-6 {
    text-align: center;
    width: auto;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

.about-section {
  margin-top: 50px;
}

.about-section-content {
  background-color: #e1eeff;
  padding: 20px;
  margin: 30px;
}

.about-section h1 {
  color: #543a3a;
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

.about-section p {
  font-family: var(--heading-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  align-items: center;
  color: #543a3a;
}

.btn-branding-outline {
  font-family: var(--default-font-family);
  color: #543a3a;
  background: #c2cfd8;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.navbar-brand {
  width: 338px;
  height: 68px;
  left: 12px;
  top: 45px;
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: #543a3a;
}

.nav-link {
  color: #543a3a;
  font-family: var(--heading-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.container-foot {
  text-align: center;
  align-items: center;
  font-family: var(--heading-font-family);
  font-size: 18px;
  color: #543a3a;
}

.fab {
  size: 3x;
  color: #543a3a;
}

.mail {
  color: #543a3a;
  font-family: var(--heading-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
