h2 p {
  font-family: "Baloo 2", cursive;
}

h1 {
  font-family: "Andada Pro", serif;
}

.heading-bg {
  background-color: #e1eeff;
  text-align: center;
  position: absolute;
  width: 1024px;
  height: 341px;
  top: 114px;
}

.heading-bg p {
  font-weight: 600;
  font-size: 36px;
  font-style: normal;
  line-height: 57px;
}

.heading-bg h1 {
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
  line-height: 56px;
}

.heading-bg h2 {
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  line-height: 57px;
}
